In [9]:
SELECT szh.TIPUS, ROUND(COUNT(f.FOGLALAS_PK),-2)
FROM Foglalas f
JOIN Szoba sz ON f.SZOBA_FK = sz.SZOBA_ID
JOIN Szallashely szh ON sz.SZALLAS_FK = szh.SZALLAS_ID
GROUP BY szh.TIPUS
HAVING ROUND(COUNT(f.FOGLALAS_PK),-2)< 500;

TIPUS,(No column name)
Apartman,100
vendégház,100
panzió,200

In [24]:
SELECT 
    s.SZOBA_ID,
    YEAR(f.METTOL) AS EV,
    COUNT(*) AS FOGLALASOK_SZAMA
FROM 
    FOGLALAS f
JOIN
    SZOBA s ON s.SZOBA_ID = s.SZOBA_ID
WHERE s.SZOBA_SZAMA % 2 != 0
GROUP BY 
    s.SZOBA_ID
HAVING 
    COUNT(*) > 10;

: Msg 8120, Level 16, State 1, Line 3
Column 'FOGLALAS.METTOL' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.